/* In WcPanel.tsx, we set the z-index of our table to 2200 (to put it above original site content)
   So, we also need to tell the context menu to be visible above the table.
   We do this by overridding the default HoT CSS. */
.htContextMenu:not(.htGhostTable) {
  z-index: 2300;
}

th span.formula-header:before {
  content: "f(x)";
  margin-right: 10px;
  margin-left: -10px;
  font-style: italic;
  font-size: 12px;
  color: #888;
}
