#open-apps-rich-text-editor-container {
    background-color: white;
    padding: 20px;
    position: fixed;
    height: 500px;
    width: 700px;
    bottom: 100px;
    right: 50px;
    z-index: 1000;
}

#wildcard-container strong, .ck strong {
    font-weight: bold;
}

#wildcard-container a:-webkit-any-link, .ck a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#wildcard-container ul, .ck ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#wildcard-container ol, .ck ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}