#wildcard-container table.htCore {
  font-size: 18px;
}

#wildcard-container {
  border-top: solid thin #ddd;
  position: fixed;
  overflow: hidden;
  background-color: white;
  font-size: 14px;
  height: 250px;
  width: 100%;
  z-index: 3000;
  bottom: 0;
}

.handsontable {
  z-index: 3060 !important;
}

#wildcard-container.single-row {
  height: 100px;
}

.wildcard-table-toggle {
  font-size: 14px;
  border-radius: 10px;
  z-index: 100000;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px -1px #d5d5d5;
  border: none;
  cursor: pointer;
}

.wildcard-table-toggle.table-open {
  bottom: 270px;
}

.wildcard-table-toggle:active {
  background-color: #ddd;
}

.wildcard-table-toggle:focus {
  outline: 0;
}
